*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1C1C1C;
}

.container {
  position: absolute;
  width: 80%;
  margin: auto;
  height:80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #F5F7FB;
  overflow: hidden;
}

.yellow {
  position: absolute;
  left:75.24%;
  right: -150.24%;
  top: 1.16%;
  bottom: -16.16%;
  background: #FFFAD1;
  transform: rotate(-128.49deg);
}

.blue {
  position: absolute;
  left: -5%;
  right: 80%;
  top: 75%;
  bottom: -10%;
  background: #DEEBF8;
  border-radius: 45%;
}